<div class="modal modal-lg" id="journalEntryModal">
  <div class="modal-background is-two-thirds"></div>
  <div class="modal-card is-two-thirds">
    <header class="modal-card-head has-background-primary">
      <p class="modal-card-title">Add a New Journal Entry</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="field">
        <label class="label">Date</label>
        <div class="control">
          <input id="entryDate" class="input" type="date">
        </div>
      <div class="field">
        <label class="label">Journal Entry</label>
        <div class="control">
          <textarea id="journalEntryArea" class="textarea" placeholder="Write your journal entry here..."></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">pH</label>
        <div class="control">
          <input id="ph" class="input" type="text" placeholder="Enter pH value">
        </div>
      </div>
      <div class="field">
        <label class="label">Humidity</label>
        <div class="control">
          <input id="humidity" class="input" type="text" placeholder="Enter Humidity value">
        </div>
      </div>
      <div class="field">
        <label class="label">EC</label>
        <div class="control">
          <input id="ec" class="input" type="text" placeholder="Enter EC value">
        </div>
      </div>
      <div class="field">
        <label class="label">Temperature (Air)</label>
        <div class="control">
          <input id="tempAir" class="input" type="text" placeholder="Enter air temperature">
        </div>
      </div>
      <div class="field">
        <label class="label">Temperature (Water)</label>
        <div class="control">
          <input id="tempWater" class="input" type="text" placeholder="Enter water temperature">
        </div>
      </div>
      <div class="field">
        <label class="label">Lighting (Active)</label>
        <div class="control">
          <input id="lightingActive" class="input" type="text" placeholder="Enter nutrient solution details">
        </div>
      </div>
      <div class="field">
        <label class="label">Lighting (Dark)</label>
        <div class="control">
          <input id="lightingDark" class="input" type="text" placeholder="Enter nutrient solution details">
        </div>
      </div>
      <div class="field">
        <label class="label">Notes</label>
        <div class="control">
          <textarea id="notes" class="textarea" placeholder="Additional notes..."></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">Image Upload</label>
        <div class="control">
          <input id="imageUpload" class="input" type="file" accept="image/*">
        </div>
      </div>
    </section>
    <footer class="modal-card-foot has-background-primary">
      <div class="buttons">
        <button class="button is-info">Save changes</button>
        <button class="button is-danger">Cancel</button>
      </div>
    </footer>
  </div>
</div>

<script src="https://cdn.tiny.cloud/1/o1vp1h0xeiv7vzeq5zioltlng00d3cxnsal4zfavso8s9jdo/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
        selector: '#journalEntryArea',
        toolbar: 'undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | outdent indent | image code hr ',
        plugins: 'lists link image code hr',
        menubar: 'format insert'
      });

</script>