<footer class="has-text-light">
  <strong class="has-text-light">Garden Glow</strong> &nbsp;&copy; Copyright 2025 &nbsp;&nbsp; <a href="https://jmjmediadesign.net" target="_blank" class="has-text-primary-light">JMJ Media Designs</a>
</footer>