<h1 class="is-size-2 mt-3">Garden Blog</h1>
<button class="button is-small is-primary mt-3 js-modal-trigger" data-target="journalEntryModal">Add New Post</button>
<!-- <button class="button is-small is-primary" onclick="printJournal()">Print Journal Entry</button> -->
<hr />
<div class="columns">
  <div class="column">
    <h2 class="is-size-4">Latest Daily Entry</h2>
    <div class="box has-shadow">
      <div id="blog-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quod cumque. Nisi tempora omnis sit accusantium, in nesciunt consequuntur, quis totam ut, ea tempore! Omnis eligendi perspiciatis id nam qui.</p>
      </div>
    </div>
  </div>
  <div class="column">
    <h1 class="is-size-4">Blog Dashboard</h1>
    <div class="box has-shadow">
      <div id="blog-content">
          <p>Here you can find the stats on blog posts and articles.</p>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam distinctio ratione quas similique consequuntur sit architecto sed, iusto eligendi cumque sapiente asperiores vero in, illum consectetur praesentium maiores enim aut.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns">
    <div class="column">
      <div class="box">
        <table id="blogTable" class="table is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Setting up a VIVOSUN Grow Tent</td>
              <td>Jerry McKee Jr</td>
              <td>Wednesday, April 23, 2025</td>
              <td><a href="#">Details</a> | <a href="#">Edit</a> | <a href="#">Delete</a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script>
  let table = new DataTable('#blogTable');
</script>
