<div class="columns">
  <div class="column">
    <div id="blog-header">
      <h1 class="is-size-3">Blog</h1>
    </div>
    <div>
      <button class="button is-small is-primary mb-2">Add New Post</button>
    </div>
    <div id="blog-content">
      <div class="box has-shadow">
        <p>Here you can find the latest blog posts and articles.</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div id="blog-header">
      <h1 class="is-size-3">Blog Dashboard</h1>
    </div>
    <div id="blog-content">
      <div class="box has-shadow mt-5">
        <p>Here you can find the stats on blog posts and articles.</p>
      </div>
    </div>
  </div>
</div>