<section id="welcome" class="mt-3">
  <div class="columns">

    <div class="column">
      <!-- <div id="welcome-header">
        <h1 class="is-size-3">Dashboard</h1>
      </div>
      <div id="welcome-content">
        <div class="box has-shadow">
          <p>Welcome to your dashboard! Here you can manage your settings, view your data, track your progress, and manage your inventory</p>
        </div>
      </div> -->
      <div id="updates-header">
        <h1 class="is-size-3">Notifications</h1>
      </div>
      <div id="updates-content">
        <div class="box has-shadow">
          <p>Here you can find the latest notifications and alerts.</p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div id="updates-header">
        <h1 class="is-size-3">Recent Journal Entries</h1>
      </div>
      <div id="updates-content">
        <div class="box has-shadow">
          <div class="table">
            <h2 class="is-size-4">Daily Entries</h2>
            <div class="row">
              <div class="cell">
                <label class="label" for="date">Entry Date: </label>
              </div>
              <div class="cell">
                <span>April 14, 2025</span>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <label class="label" for="entry">Journal Entry: </label>
              </div>
              <div class="cell">
                <span>This is a new journal entry for activities done to the gardens.</span>
              </div>
            </div>
            <hr />
            <h2 class="is-size-4">Daily Metrics</h2>
            <div class="row">
              <div class="cell">
                <label for="" class="label">
                  pH: 
                </label>
              </div>
              <div class="cell">
                <span>5.8 ppm</span>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <label for="" class="label">EC: </label>
              </div>
              <div class="cell">
                1.0 mS/cm
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <label for="" class="label">Water Level: </label>
              </div>
              <div class="cell">
                20% Full
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <label for="" class="label">
                  Humidity: 
                </label>
              </div>
              <div class="cell">
                <span>60%</span>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <label for="" class="label">
                  Temperature (Air): 
                </label>
              </div>
              <div class="cell">
                68°F
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <label for="" class="label">Temperature (Water):</label>
              </div>
              <div class="cell">
                68°F
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <label for="" class="label">
                  Lighting (Active): 
                </label>
              </div>
              <div class="cell">
                <span>16 Hours</span>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <label for="" class="label">
                  Lighting (Dark): 
                </label>
              </div>
              <div class="cell">
                <span>8 Hours</span>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <label for="" class="label">
                  Additional Notes: 
                </label>
              </div>
              <div class="cell">
                <span>All additional notes will be added here...</span>
              </div>
            </div>
            
            <div class="row">
              <div class="cell">
                <label for="" class="label is-justify-content-start">Images</label>
              </div>
              <div class="cell">
                <img src="/public/img/growtent.jpeg" alt="Image 1" class="image is-128x128" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section id="updates">
  <div class="columns">
    <div class="column">
      <div>
        <h1 class="is-size-3">Daily Stats</h1>
      </div>
      <div class="box has-shadow">
        <div id="chartdiv"></div>
      </div>
    </div>

    
    <div class="column">
      
    </div>
  </div>
</section>


  
<script src="https://cdnjs.com/libraries/Chart.js"></script>
<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- Chart code -->
<script>
  am5.ready(function() {

  // Create root element
  // https://www.amcharts.com/docs/v5/getting-started/#Root_element
  var root = am5.Root.new("chartdiv");


  // Set themes
  // https://www.amcharts.com/docs/v5/concepts/themes/
  root.setThemes([
    am5themes_Animated.new(root)
  ]);


  // Create chart
  // https://www.amcharts.com/docs/v5/charts/xy-chart/
  var chart = root.container.children.push(am5xy.XYChart.new(root, {
    panX: true,
    panY: true,
    wheelX: "panX",
    wheelY: "zoomX",
    pinchZoomX:true,
    paddingLeft: 0
  }));


  // Add cursor
  // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
  var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
    behavior: "none"
  }));
  cursor.lineY.set("visible", false);


  // Generate random data
  var date = new Date();
  date.setHours(0, 0, 0, 0);
  var value = 100;

  function generateData() {
    value = Math.round((Math.random() * 10 - 5) + value);
    am5.time.add(date, "day", 1);
    return {
      date: date.getTime(),
      value: value
    };
  }

  function generateDatas(count) {
    var data = [];
    for (var i = 0; i < count; ++i) {
      data.push(generateData());
    }
    return data;
  }


  // Create axes
  // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
  var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
    maxDeviation: 0.2,
    baseInterval: {
      timeUnit: "day",
      count: 1
    },
    renderer: am5xy.AxisRendererX.new(root, {
      minorGridEnabled:true
    }),
    tooltip: am5.Tooltip.new(root, {})
  }));

  var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
    renderer: am5xy.AxisRendererY.new(root, {
      pan:"zoom"
    })  
  }));


  // Add series
  // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
  var series = chart.series.push(am5xy.LineSeries.new(root, {
    name: "Series",
    xAxis: xAxis,
    yAxis: yAxis,
    valueYField: "value",
    valueXField: "date",
    tooltip: am5.Tooltip.new(root, {
      labelText: "{valueY}"
    })
  }));


  // Add scrollbar
  // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
  chart.set("scrollbarX", am5.Scrollbar.new(root, {
    orientation: "horizontal"
  }));


  // Set data
  var data = generateDatas(1200);
  series.data.setAll(data);


  // Make stuff animate on load
  // https://www.amcharts.com/docs/v5/concepts/animations/
  series.appear(1000);
  chart.appear(1000, 100);

  }); // end am5.ready()
</script>