<h1 class="is-size-2">My Equipment</h1>
<button class="button is-small is-primary js-modal-trigger" data-target="journalEntryModal">Add New Equipment</button>
<!-- <button class="button is-small is-primary" onclick="printJournal()">Print Journal Entry</button> -->
<hr />