<h1 class="is-size-2 mt-3">Gardens</h1>
<button class="button is-small is-primary mt-3 js-modal-trigger" data-target="journalEntryModal">Add New Garden</button>
<!-- <button class="button is-small is-primary" onclick="printJournal()">Print Journal Entry</button> -->
<hr />