<section>
  <div class="row">
    <div class="columns">
      <div class="column has-background-secondary">
        <img id="homeImg" src="/public/img/plant.jpg" alt="">
      </div>
      <div class="column has-background-secondary">
        <div id="landingTitle" class="">
          <h1 id="appTitle" class="is-size-1 has-text-centered is-flex is-justify-content-center is-align-content-center">Garden Glow</h1>
          <h2 class="is-size-3 has-text-centered is-flex is-justify-content-center is-align-content-center">Your all-in-one place to keep track of your gardens!</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="columns">
      <div class="column"></div>
      <div class="column"></div>
    </div>
  </div>
</section>
