<div class="row">
  <div class="columns">
    <div class="column">
      <img id="homeImg" src="/public/img/plant.jpg" alt="">
    </div>
    <div class="column">
      <h1 class="is-size-2 is-centered">Garden Glow</h1>
    </div>
  </div>
</div>
