#homeImg {
  width: 20rem;
  height:20rem;
  margin: 2rem;
  margin-left: 10rem;
}

#landingTitle {
  margin-top: 5rem;
  margin-right: 5rem;
}

#appTitle {
  font-family: "DM Serif Display", serif;
  /* font-family: merriweather, sans-serif; */
  font-size: 96px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#dashboard-header {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin-bottom: 2rem;
}

#chartdiv {
  width: 100%;
  height: 250px;
  max-width: 100%;
}


<<<<<<< HEAD
=======
#sect2 > .column {
  flex: 1; /* Ensures equal width for all columns */
  height: 250px; /* Fixed height */
}

#col1 {
  width: 25%;
}

#col2 {
  width: 50%;
}
#col3 {
  width: 25%;
}

footer {
  margin-top : 4rem;
}
>>>>>>> 4523235e0af34015994b2cbf08edbb2804b8ef76
