#homeImg {
  width: 20rem;
  height:20rem;
  margin: 2rem;
  margin-left: 10rem;
}

#landingTitle {
  margin-top: 5rem;
  margin-right: 5rem;
}

#appTitle {
  font-family: "DM Serif Display", serif;
  /* font-family: merriweather, sans-serif; */
  font-size: 96px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#chartdiv {
  width: 100%;
  height: 250px;
  max-width: 100%;
}

#sect2 {
  display: flex;
  flex-direction: row; /* Aligns columns in a row */
  justify-content: space-between; /* Adds space between columns */
  align-items: stretch; /* Ensures all columns have the same height */
  gap: 1rem; /* Adds spacing between columns */
  margin-top: 2rem;
  background-color: blue;
  color: white;
  height: 300px; /* Height of the parent container */
}

#sect2 > .column {
  flex: 1; /* Ensures equal width for all columns */
  height: 250px; /* Fixed height */
}

#col1 {
  width: 25%;
}

#col2 {
  width: 50%;
}
#col3 {
  width: 25%;
}

footer {
  margin-top : 4rem;
}
