#homeImg {
  width: 20rem;
  height:20rem;
  margin: 2rem;
  margin-left: 10rem;
}

#landingTitle {
  margin-top: 5rem;
  margin-right: 5rem;
}

#appTitle {
  font-family: "DM Serif Display", serif;
  /* font-family: merriweather, sans-serif; */
  font-size: 96px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

